<div class="container-fluid">


  <h1>About Us</h1>
    <div style="overflow: hidden;width:400px;float:right;margin-left:40px;margin-bottom:40px;"><img src="img/coop-bitcoin-img.jpg"></div>
  <p>We're a voluntary and inclusive association of individuals united by a shared interest in <a href="http://bitcoin.org/">Bitcoin</a>, a revolutionary new digital currency and payment technology. We organize presentations, discussions, pub nights, parties, and other creative outings to foster a community of people and businesses interested in learning about and creating a new economy.
</p>

<p>
We facilitate in-person, peer-to-peer exchange of bitcoins to and from Canadian dollars.  We help businesses accept Bitcoin payments in their brick and mortar locations and online.  We provide one-on-one tutoring and consultation to help people learn how Bitcoin works.
Our members enjoy the support of experienced professionals in software and finance, as well as PR and media resources.
</p>

  <p>As a registered co-operative association in the province of British Columbia, we have an open membership structure and adhere to the <a href="http://bcca.coop/content/principles">Co-op Principles</a>.  Members can vote on resolutions at our meetings and participate in elections of our board of directors and have a say in how we prioritize our projects and finances.  Come to one of our many <a href="http://www.meetup.com/bitcoinvan/">meetups</a> to get to know us and learn how you can get involved!</p>
  </div>
</div>
