<div class="row">
  <div class="col-md-6">
    <h1 style="margin-top: 0">How it Works</h1>

    <p>Twice a week, throughout the month of November, I will be preparing delicious, nutrient-dense meals that adhere to the paleo diet principles.</p>

        <p>
        Since we don't have our own farm yet, ingredients for these meals will be sourced as locally, organically and ethically as possible.  I will be posting updates to the <a href="https://www.facebook.com/pages/Karma-Farma/316899365161155">Karma Farma Facebook Page</a> so you can follow along exactly where I get my ingredients from and provide comments if you have any good sources for me to check out.
      </p>

    <p>
    The program is designed to provide you with lunch and dinner for 6 days of the week.  You'll get to choose 4 entrees and 2 soup and salad combos twice a week.  There is a protein component of egg, meat, or fish included in every meal.  You can specify which entrees, salads and soups you want, or receive one of each by default.</p>

    <h2>What's the Cost?</h2>
    <table class="table">
      <tr>
        <th><span class="fa fa-lg fa-dollar"> Pay with Cash or Cheque</span></th>
      <th><span class="fa fa-lg fa-bitcoin"> Pay with Bitcoin</span></th>
      </tr>
      <tr class="lead">
        <td>$490</td>
        <td>$460</td>
      </tr>
    </table>

  </div>

  <div class="col-md-6 text-right">
    <img src="/img/chelsea.jpg" width="100%" />
  </div>
</div>

<h2>Delivery</h2>

<p>
Deliveries will be made on Tuesday and Friday mornings between 9am and 12pm.  We will try to do most of our delivering by bicycle.  At this time, we can only deliver to Richmond and Vancouver.  If you would like to pick-up your meals in Richmond, this can be arranged as well.  It is your responsibility to refrigerate your meals upon delivery or leave a cooler with ice packs in it at the delivery spot you indicate.  All food will be delivered in reusable containers.  Please return the containers to us at each delivery so they can be re-used. 
</p>


<h2>More About Paleo</h2>

<p>
In a paleo diet, no gluten, grains, legumes, dairy, soy, sugar or industrial seed oils are used.  These meals would be suitable for most elimination diets and my hope is that people will use them as a tool to help them explore their own food intolerances or simply to incorporate more nutrient-dense foods in their diet.  There will be options available for low-carb and autoimmune paleo diets as well.
</p>

<p>For more info, check out this video by a respected health care practitioner in the paleo community encouraging people to try the paleo diet:</p>
<script height="456px" width="100%" src="http://player.ooyala.com/iframe.js#pbid=35ad9a0b3b6943de990b03e6b239b4e2&ec=11MDQxbzr6WQImVwZWUzgcEpJ_ahafk9"></script>

