<div class="container-fluid">
  <h1>About Us</h1>

  <p>The Bitcoin Co-op is (soon going to be) a registered co-operative association in the province of British Columbia.  We are a group of people working together to promote bitcoin in Canada.  Our members have diverse backgrounds and talents but we share a common belief that by working together we'll achieve more than we could individually.  

  <p>
  We meet in Vancouver every Monday evening from 7pm to 9pm.  Come out and join us for our next one if you're interested in getting involved!
  </p>

  <h2>Guiding Principles</h2>

  <ul>
    <li>Inclusivity: Anyone is welcome to join us and collaborate on spreading bitcoin and other disruptive technologies and principles to the world</li>
    <li>Transparency: We aim to be completely open about our goals and finances</li>
  </ul>

  <h2>Services</h2>

  <ul>
    <li><strong>Payment Integration:</strong> We are the Canadian integration partner for bitpay.com and will help you get setup to accept bitcoin for payment in your physical or online store</li>
    <li><strong>Trading Network:</strong>  Use our 24/7 hotline to get in touch with someone in your area to buy or sell bitcoins</li>
    <li><strong>Events:</strong> We host regular meetups, hackathons, and info sessions.  These are great networking opportunities and if you are in the service industry we can bring people to your venue who are eager to spend their bitcoins in the local economy</li>
  </ul>

    <h2>Membership</h2>
    
    <div class="well span5">
      <span class="pull-right">Cost: $20/year</span>
      <h3>General</h3>

      <ul>
        <li>Get a discounted rate of market price + 3% when buying/selling bitcoin</li>
        <li>Attend our meetings and vote on resolutions and priorities</li>
        <li>Take advantage of discounts and deals from participating merchants</li>
      </ul>

      <span class="pull-right">Cost: $10/month + 2% commission on trades</span>
      <h3>Trader</h3>

      <ul>
        <li>We'll list you on our website and refer buyers/sellers to you</li>
        <li>Use our shared hotline and email address to access new clients</li>
        <li>Take advantage of our pooled capital to handle larger trades</li>
      </ul>
    </div>

    <div class="span5 well">
      <span class="pull-right">Cost: Free!</span>
      <h3>Merchant</h3>

      <ul>
        <li>We'll add your business to our directory and others across the Internet to make sure you get recognized for supporting bitcoin</li>
        <li>We'll support you with technical issues and answer any questions you may have about Bitpay or general concerns/questions regarding bitcoin</li>
      </ul>

      <span class="pull-right">Cost: Max. $5000</span>
      <h3>Investor</h3>

      <ul>
        <li>Profits and investment capital will be used to support merchants and grow our network to spread bitcoin adoption</li>
      </ul>
    </div>
  </div>
</div>
