<style>
  .large { font-size: 24px; font-weight: bold; }
</style>

<h1>Congratulations!</h1>

<p>
You've received <span class="large">{{amount}} Bitcoin</span> worth <span class="large">{{rupees}} Indian Rupees</span> according to <a href="https://bitcoinaverage.com/">current exchange rates</a>
</p>

<p>
Bitcoin is a global currency that you can send over the Internet to anyone who has a bitcoin address.
</p>

<div class="row-fluid">
  <div class="span6">
    <p>
    We've created an account for you at <a href="{{url}}">{{url}}</a>.  Login with the password provided on your paper claim note to spend some or all of your bitcoins or wait and see if they grow in value over time.
    Your bitcoin address is <b>{{address}}</b> and looks like this in graphical QR Code form:
    </p>
  </div>

  <div class="span4">
    <div id="qr">blah</div>
  </div>
</div>

<p class="alert-error">
Please go into the <b>Account Settings</b> page and change your password within 30 days or we will reclaim your bitcoins and give them to someone else.  Choose a strong password that is 15 characters or more.  There is no way to reset a forgotten password or recover your coins if someone guesses your password.
</p>

<p>
Give your address out or print the QR code and post it in your shop so people can send you bitcoins from their computer or phone.  It's free to send and receive payments with Bitcoin.
</p>



<img src="img/account_settings.jpg" />

<p>
Many businesses and websites, including <a href="http://www.overstock.com/">overstock.com</a>, accept Bitcoin for payment.  More are listed at <a href="http://coinmap.org/">coinmap.org</a> and the <a href="http://en.bitcoin.it/wiki/trade">Bitcoin Wiki</a>.  
Encourage your friends, family and business partners to get their own free accounts by signing up at <a href="https://blockchain.info/wallet/new">blockchain.info/wallet/new</a>. You may wish to send them some of your bitcoins as a gift.  
</p>

<p>
Funding for this program was generously donated by people interested in promoting the use of Bitcoin as a global currency free of national borders.  We hope that you will find a good use for your bitcoins that makes the world a better place.  You can write to us at <a href="mailto:info@bitcoincoop.org">info@bitcoincoop.org</a> to let us know!
</p>
