<div class="container-fluid">
    <div style="float:right; margin-left: 40px; margin-top: 40px;"><img width="400" src="/img/coinos.png"></div>

  <h1><img src="/img/coinos_logo.png"></h1>


  <p>CoinOS is an <a href="https://github.com/thebitcoincoop/pos.bitcoincoop.org" target="_blank"><b>open-source</b></a> and completely <b>FREE</b> Point of Sale system built by co-op members. It provides merchants with a simple to use system for taking bitcoin payments and managing administration.
  </p>

<p>
    CoinOS works in any Internet browser, so can be used with any iPhone or Android tablet, and can be branded with your logo. It is simple to use, making staff training a doddle!
</p>
<p>Please <a href="mailto:info@bitcoincoop.org"><b>contact us</b></a> to find out more on signing-up for the service.</p>
</p>
  <p>
      <b>COMING SOON:</b><br>
      Although many merchants wish to keep their bitcoin takings, some choose to cash-out all or part into local fiat currency.
      In order to make this a simple and seamless process, we have partnered with local bitcoin exchange Quadriga CX to offer immediate reconciliation to Canadian or US dollars at the moment of sale.
      Please check back soon for more information on this feature.
    </p>
</div>
</div>
