<h1>Coinfest 2015, Vancouver</h1>

<p>We're proud to be hosting the third annual CoinFest, a decentralized, open source, international gathering of crypto-coin enthusiasts.  The first CoinFest was held in Vancouver in 2013 and organized by co-op director Andrew Wagner.  This years' Coinfest will be taking place simultaneously in 19 cities around the world.

<h2>Events</h2>

<div class="well">
  <h3>Event Name</h3>
  <p><strong>Location:</strong> xxx</p>
  <p><strong>Time:</strong> xxx</p>

  <p>Description goes here</p>
</div>

<div class="well">
  <h3>Event Name</h3>
  <p><strong>Location:</strong> xxx</p>
  <p><strong>Time:</strong> xxx</p>

  <p>Description goes here</p>
</div>

<h2>Transparency</h2>

<p>Work in progress</p>
