<h1>Contact Us</h1>

<table width="100%">
	<tr>
		<td width="20%">
			<iframe width="300" height="320" src="http://meetu.ps/2wm2nH" frameborder="0"></iframe>
		</td>
		<td>
			<ul>
				<li>Phone: 604-227-3941</li>
				<li>Email: <a href="mailto:farm@bitcoincoop.org">farm@bitcoincoop.org</a></li>
				<li>Twitter: <a href="https://twitter.com/TheBitcoinCoop">@bitcoinfarm</a></li>
				<li>Facebook: <a href="https://www.facebook.com/bitcoincoop">facebook.com/bitcoinfarm</a></li>
				<li><a href="https://plus.google.com/u/0/107368230395218815049/posts">Google+</a></li>
			</ul>
		</td>
	</tr>
</table>
