<h1>Directors</h1>

<div class="masonry js-masonry" data-masonry-options='{ "columnWidth": 550 }'>
    <div class="item" style="overflow: auto">
      <img src="img/adam.jpg" alt="" class="pull-left" />
      <p>Adam is the developer of CoinOS, an open source Bitcoin point of sale application, and sells food for bitcoins through Yummy Yards, an urban farming business</p>
      
      <p>Email: <a href="mailto:adam@bitcoincoop.org">adam@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/andrew.jpg" alt="" class="pull-left" />
      <p>Andrew writes for Bitcoin Magazine and organizes Coinfest, an annual decentralized Bitcoin conference.</p>

      <p>Email: <a href="mailto:andrew@bitcoincoop.org">andrew@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/ben.jpg" alt="" class="pull-left" />
      <p>Ben is a founder of Bitso, Mexico's leading bitcoin exchange</p>
      
      <p>Email: <a href="mailto:ben@bitcoincoop.org">ben@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/freddie.jpg" alt="" class="pull-left" />
      <p>Freddie runs Decentral Bangtown, a crypto collaboration space in downtown Vancouver</p>
      
      <p>Email: <a href="mailto:freddie@bitcoincoop.org">freddie@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/gerry.jpg" alt="" class="pull-left" />
      <p>Gerry is a founder of QuadrigaCX, Canada's leading bitcoin exchange</p>
      
      <p>Email: <a href="mailto:gerry@bitcoincoop.org">gerry@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/mike.jpg" alt="" class="pull-left" />
      <p>Mike is the founder of the Simon Fraser Bitcoin Student Club.</p>
      
      <p>Email: <a href="mailto:mike@bitcoincoop.org">mike@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/mikexbt.png" alt="" class="pull-left" />
      <p>Mike is a founder of QuadrigaCX, Canada's leading bitcoin exchange</p>
      
      <p>Email: <a href="mailto:xbt@bitcoincoop.org">xbt@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <img src="img/yuri.jpg" alt="" class="pull-left" />
      <p>Yuri is a Bitcoin trader, has an ATM at Steamrollers, and is a founder of Taurus exchange</p>
      
      <p>Email: <a href="mailto:xbt@bitcoincoop.org">mike@bitcoincoop.org</a></p>
    </div>
  </div>
