<h1>2015 Board of Directors</h1>

<div class="masonry js-masonry" data-masonry-options='{ "columnWidth": 550 }'>
    <div class="item" style="overflow: auto">
      <img src="img/adam.jpg" alt="" class="pull-left" />
      <h3>Adam Soltys</h3>
      <p>Adam is the developer of CoinOS, an open source Bitcoin point of sale application.  He trades food for bitcoins through Yummy Yards, an urban farming business</p>
      
      <p>Email: <a href="mailto:adam@bitcoincoop.org">adam@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Andrew Wagner</h3>
      <img src="img/andrew.jpg" alt="" class="pull-left" />
      <p>Andrew operates News BTC Canada and writes for a number of other Bitcoin publications.  He is a founder and organizer of Coinfest, an annual decentralized Bitcoin conference.</p>

      <p>Email: <a href="mailto:andrew@bitcoincoop.org">andrew@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Ben Peters</h3>
      <img src="img/ben.jpg" alt="" class="pull-left" />
      <p>Ben is a founder of Bitso, Mexico's leading bitcoin exchange</p>
      
      <p>Email: <a href="mailto:ben@bitcoincoop.org">ben@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Frederick Heartline</h3>
      <img src="img/freddie.jpg" alt="" class="pull-left" />
      <p>Freddie runs Decentral Bangtown, a crypto collaboration space in downtown Vancouver</p>
      
      <p>Email: <a href="mailto:freddie@bitcoincoop.org">freddie@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Gerald Cotten</h3>
      <img src="img/gerry.jpg" alt="" class="pull-left" />
      <p>Gerry is a founder of QuadrigaCX, Canada's leading bitcoin exchange</p>
      
      <p>Email: <a href="mailto:gerry@bitcoincoop.org">gerry@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Michael Yeung</h3>
      <img src="img/mike.png" alt="" class="pull-left" />
      <p>Mike is the founder of the Simon Fraser Bitcoin Student Club and Saftonhouse Consulting Group.</p>
      
      <p>Email: <a href="mailto:mike@bitcoincoop.org">mike@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Michael Patryn</h3>
      <img src="img/mikexbt.png" alt="" class="pull-left" />
      <p>Mike is a founder of QuadrigaCX, Canada's leading bitcoin exchange</p>
      
      <p>Email: <a href="mailto:xbt@bitcoincoop.org">xbt@bitcoincoop.org</a></p>
    </div>

    <div class="item" style="overflow: auto">
      <h3>Yuri Yerofeyev</h3>
      <img src="img/yuri.jpg" alt="" class="pull-left" />
      <p>Yuri is the founder of Taurus exchange and an active trader and operator of a Bitcoin ATM at Steamrollers</p>
      
      <p>Email: <a href="mailto:yuri@bitcoincoop.org">yuri@bitcoincoop.org</a></p>
    </div>
  </div>
