<h1>Education</h1>

<p>
Bitcoin is a deep topic. Nothing beats meeting someone in person who can answer your questions and explain things clearly and concisely.
</p>

<h2>Bitcoin Info Sessions</h2>

<div class="well" style="overflow: auto">
  <div class="item pull-right">
    <img class="pull-left" src="img/adam.jpg" alt="" />
    <p>Adam dispels Bitcoin FUD faster than a barefoot jackrabbit on a hot greasy griddle in the middle of August.
  </div>

  <p><strong>Location:</strong> Waves Coffee, 900 Howe St, Vancouver</p>
  <p><strong>Time:</strong> Thursday November 14 and 21, 6:30-8:30</p>

  <strong>Topics:</strong>

  <ul>
    <li>What is Bitcoin and how does it work?</li>
    <li>Wallet creation and keeping your bitcoins secure</li>
    <li>How to Buy and Sell bitcoins at exchanges and the ATM</li>
    <li>How to accept bitcoin payments for your business</li>
  </ul>

  <p><strong>Suggested donation:</strong>  $10 payable in bitcoin to 18DtqERJnnaBktezXfFXqYVSnCYWd6trZm</p>
</div>


<h2>The Bitcoin Tutor</h2>

<div class="well" style="overflow: auto">
  <div class="item pull-right">
    <img src="img/andrew.jpg" alt="" class="pull-left" />
    <p>Andrew rains Bitcoin information like a tall cow pissing on a flat rock.</p>
  </div>

  <p><strong>Location:</strong> Flexible</p>
  <p><strong>Time:</strong> By Appointment</p>
  <p><strong>Suggested doncation:</strong> $30/hour payable in bitcoin</p>
</div>

<h2>Phone/Email Support</h2>

<p>Have some questions or just want to talk about Bitcoin with fellow enthusiasts?  Don't be shy!  We'll talk your ear off if you let us.</p>
