<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h1>Exchange</h1>
      <p>
      We're growing a network of trustworthy and knowledgeable individuals who are able to meet you in person to buy or sell bitcoins.  We guarantee a professional experience and consistent, fair price.  We want to help you exchange your bitcoins quickly and easily without having to go through an online exchange.
      </p>
      <p>  If you're new to bitcoin, we'll be happy to spend some time answering your questions and helping you setup your digital wallet to keep your bitcoins secure.  
      </p>
    </div>

    <div class="span6 well" style="margin-top: 15px">
      <h2>Meeting Procedure</h2>
      <ul style="list-style: none; margin: 0;">
        <li><i class="icon-caret-right"></i> We'll arrange a time and place to meet at a secure location</li>
        <li><i class="icon-caret-right"></i> We'll look up the exchange rate at this site at the time of meeting</li>
        <li><i class="icon-caret-right"></i> We'll count out the cash together and do the exchange</li>
        <li><i class="icon-caret-right"></i> We'll confirm the transaction online at <a href="http://blockchain.info/">blockchain.info</a></li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
<!--    <form action="/contact" method="post" class="well">
      <h2>Order Online</h2>
      <p>  Place your order using the form below or call us at <a href="tel:+16042273941">+1 604-227-3941</a> and we'll get in touch with you within 24 hours to setup a meeting.</p>

      <div>
        <label for="email"><strong>Email</strong></label>
        <input type="text" id="email" name="email" style="width: 150px" />
      </div>

      <div class="pull-left" style="padding-right: 20px">
        <label for="type"><strong>Order</strong></label>
        <select id="type" name="type" style="width: 80px">
          <option>Buy</option>
          <option>Sell</option>
        </select>
      </div>

      <div class="pull-left" style="padding-right: 20px">
        <label for="amount"><strong>Amount</strong></label>
        <input type="text" id="amount" name="amount" style="width: 50px" />
      </div>

      <div>
        <label for="currency"><strong>Currency</strong></label>
        <select id="currency" name="currency" style="width: 80px">
          <option>BTC</option>
          <option>CAD</option>
        </select>
      </div>

      <label for="notes"><strong>Notes</strong><br /> <small>(Preferred meeting time and location, familiarity with bitcoin, etc.)</small></label>
      <textarea id="notes" name="notes" style="width: 400px; height: 100px;"></textarea>

      <br />
      <input type="submit" value="Place Order" />
    </form>
-->
<center>
<script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
@import url(http://assets.freshdesk.com/widget/freshwidget.css); 
</style> 
<iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="http://thebitcoincoop.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Place+an+order&submitThanks=Thank+you+for+placing+your+order!+Our+representative+will+contact+you+shortly.&screenshot=no&attachFile=no&searchArea=no" scrolling="no" height="500px" width="50%" frameborder="0" >
</iframe>
</center>
  </div>

  <h2>Exchangers</h2>

  <div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 550 }'>
    <div class="item">
      <h2>Adam</h2>
      <a href="https://localbitcoins.com/accounts/profile/asoltys/"><img src="img/adam.jpg" alt="" /></a>
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>Hastings Sunrise</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>10am-10pm every day</td>
        </tr>
        <tr>
          <td><b>LocalBitcoins:</b></td>
          <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/asoltys/">asoltys</a></td>
        </tr>
        <tr>
          <td><b>Bitcoin-otc:</b></td>
          <td colspan="2"><a href="http://bitcoin-otc.com/viewratingdetail.php?nick=stretchwarren&sign=ANY&type=RECV">asoltys</a></td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Andrew</h2>
      <a href="https://localbitcoins.com/accounts/profile/asoltys/"><img src="img/andrew.jpg" alt="" /></a>
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>New Westminster</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>12pm-12am every day</td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Ben</h2>
      <a href="https://localbitcoins.com/accounts/profile/benscoins/"><img src="img/ben.jpg" alt="" /></a>
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>West End, Downtown</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>11am-7pm every day</td>
        </tr>
        <tr>
          <td><b>LocalBitcoins:</b></td>
          <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/benscoins/">benscoins</a></td>
        </tr>
        <tr>
          <td><b>Bitcoin-otc:</b></td>
          <td colspan="2"><a href="http://bitcoin-otc.com/viewratingdetail.php?nick=metoro&sign=ANY&type=RECV">metoro</a></td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Freddie</h2>
      <img src="img/freddie.jpg" alt="" />
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>Vancouver Proper</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>10am-10pm every day</td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Michael</h2>
      <img src="img/mikexbt.png" alt="" />
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>West End/Downtown</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>9am-9pm every day</td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Mike</h2>
      <a class="img" href="https://localbitcoins.com/accounts/profile/mikesfubtc/"><img src="img/mike.jpg" alt="" /></a>
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>Chinatown, Burnaby</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>Evenings and Weekends</td>
        </tr>
        <tr>
          <td><b>LocalBitcoins:</b></td>
          <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/mikesfubtc/">mikesfubtc</a></td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Moe</h2>
      <a class="img" href="https://localbitcoins.com/accounts/profile/moebitcoin/"><img src="img/moe.png" alt="" /></a>
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>West End, Downtown</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>Evenings and Weekends</td>
        </tr>
        <tr>
          <td><b>LocalBitcoins:</b></td>
          <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/moebitcoin/">moebitcoin</a></td>
        </tr>
      </table>
    </div>

    <div class="item">
      <h2>Yuri</h2>
      <a class="img" href="https://localbitcoins.com/accounts/profile/beeteecee/"><img src="img/yuri.jpg" alt="" /></a>
      <table>
        <tr>
          <td><b>Neighbourhood:</b></td>
          <td>West End, Downtown</td>
        </tr>
        <tr>
          <td><b>Hours:</b></td>
          <td>10am-10pm every day</td>
        </tr>
        <tr>
          <td><b>LocalBitcoins:</b></td>
          <td colspan="2"><a href="https://localbitcoins.com/accounts/profile/beeteecee/">beeteecee</a></td>
        </tr>
        <tr>
          <td><b>Bitcoin-otc:</b></td>
          <td colspan="2"><a href="http://bitcoin-otc.com/viewratingdetail.php?nick=beeteecee&sign=ANY&type=RECV">beeteecee</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
