<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h1>Exchange</h1>
      <p>
       Our goal is to establish a network of trusted individuals who can provide a consistent experience and reliable price for people wanting to trade bitcoins.
      </p>
      
      <p><a class="icon-phone btn" href="tel:+16049018399"> Call Us! +1 604-901-8399</a> <a class="btn" href="/exchangers/join">Join Us!</a></p>
    </div>

    <div class="span6 well">
      <h1>Meeting Procedure</h1>
      <ul style="list-style: none; margin: 0;">
        <li><i class="icon-caret-right"></i> Contact one of us to let us know your availability</li>
        <li><i class="icon-caret-right"></i> Tell us how much you want to buy or sell</li>
        <li><i class="icon-caret-right"></i> We'll arrange a time to meet at a public place</li>
        <li><i class="icon-caret-right"></i> We'll look up the exchange rate at the time of meeting</li>
        <li><i class="icon-caret-right"></i> We'll send bitcoins to your address using our phone or laptop or you'll send to us</li>
        <li><i class="icon-caret-right"></i> We'll confirm the transaction online at blockchain.info</li>
      </ul>
    </div>
  </div>

    <div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 550 }'>
      <div class="item">
        <h2>Adam</h2>
        <a href="https://localbitcoins.com/accounts/profile/asoltys/"><img src="img/adam.jpg" alt="Adam" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>Hastings/Sunrise</td>
          </tr>
        </table>
      </div>

      <div class="item">
        <h2>Yuri</h2>
        <a class="img" href="https://localbitcoins.com/accounts/profile/beeteecee/"><img src="img/yuri.jpg" alt="Yuri" /></a>
        <table>
          <tr>
            <td><b>Neighbourhood:</b></td>
            <td>West End</td>
          </tr>
          </tr>
        </table>
      </div>
    </div>
</div>
