
<div class="jumbotron">
  <div>
    <h1>November 2014 Trial</h1>
    <p>
    Delicious, nutrient-dense, paleo diet meals prepared by Chelsea with local, organic ingredients, delivered to your home or office twice a week.
    </p>
    <a href="/about"><button type="button" class="btn btn-primary">Learn More »</button></a>
    <h2><span class="lead"><b>10</b></span> spots left. Sign up before October 15.</h2>
    <button id="register" type="button" class="btn btn-primary">Register Now</button>
  </div>
</div>

<h2><span class="fa fa-calendar"> November 4 Delivery</span> <small>Selection open until midnight, November 2</small></h2>
<div class="row">
  <div class="col-md-6">
    <h3>Entrees <small>0 / 4</small></h3>
    <div id="entrees"></div>
  </div>

  <div class="col-md-6">
    <h3>Soups <small>0 / 2</small></h3>
    <div id="soups"></div>

    <h3>Salads <small>0 / 2</small></h3>
    <div id="salads"></div>
  </div>
</div>

<h2><span class="fa fa-pencil"> Order Form</span></h2>
<form id="register" action="/users" method="post">
  {{#error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/error}}

  <div class="form-group">
    <label for="email">Your Email:</label>
    <input type="text" id="email" name="email" class="form-control" />
  </div>

  <input class="btn btn-primary" type="submit" value="Place Order" />
</form>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Registration</h4>
      </div>

      <div class="modal-body">
        <form id="register" action="/users" method="post">
          {{#error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/error}}

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" class="form-control" />
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" class="form-control" />
          </div>

          <div class="form-group">
            <label for="address">Delivery Address:</label>
            <textarea name="address" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="address">Notes:</label>
            <textarea name="address" class="form-control" placeholder="e.g. Please leave meals with my receptionist, Jorge.  Please leave meals in the cooler in the walkway on the east side of my house.  Be careful to latch the gate when you leave."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-primary">Sign me up!</button>
      </div>
    </div>
  </div>
</div>

<div id="item" class="panel panel-default" style="display: none">
  <div class="panel-heading">
    <div class="grayscale img pull-left"></div>
    <span class="name"></span>
  </div>
  <div class="panel-body">
    <div class="text-center pull-right">
      <span class="lead">0</span><br />
      <button type="button" class="btn btn-default"><span class="fa fa-minus"></span></button>
      <button type="button" class="btn btn-default"><span class="fa fa-plus"></span></button>
    </div>
    <p class="description"></p>
    <p>
      <span class="label label-default">Ingredients:</span> 
      <small class="ingredients"></small>
    </p>
  </div>
</div>
