<div class="jumbotron">
  <p>The Bitcoin Farm is a small-scale, non-certified organic farm situated in Richmond, British Columbia. The farm is operated for and by co-op members. We grow nutrient-dense heirloom vegetables for sale through our CSA and prepared meals programs and at local farmers' markets.</p>
  <a href="/about" class="btn btn-primary btn-lg">Learn more »</a>
</div>

<div class="row">
  <div class="col-md-4">
    <h2><i class="icon-question-sign"></i> CSA</h2>
    <p>Sign up for a share of our annual harvest and receive a weekly veggie box laden with delicious and nutritious produce throughout our growing season</p>
    <p><a class="btn" href="/about">Go &raquo;</a></p>
  </div>

  <div class="col-md-4">
    <h2><i class="icon-globe"></i> Prepared Meals</h2>
    <p>We prepare ready-to-serve meals that are loaded with high quality, nutrient dense ingredients and deliver them to your home or workplace twice a week.</p>
    <p><a class="btn" href="/merchants">Go &raquo;</a></p>
  </div>

  <div class="col-md-4">
    <h2><i class="icon-user"></i> Farmers' Market</h2>
    <p>We sell our produce at some of the local Farmers' Markets.</p>
    <p><a class="btn" href="/partners">Go &raquo;</a></p>
  </div>
</div>

