<div class="hero-unit">
  <p>Our goal is to increase Bitcoin adoption by educating people about it, creating services that make it easier to use and supporting merchants that accept it for payment.</p>
  <a href="/about" class="btn btn-primary btn-large">Learn more »</a>
  <a href="/membership" class="btn btn-primary btn-large">Join us!</a>
</div>

<div class="row">
  <div class="span4">
    <h2><i class="icon-question-sign"></i> Info</h2>
    <p>Learn more about who we are, what we do, and how we can help you with Bitcoin.</p>
    <p><a class="btn" href="/about">Go &raquo;</a></p>
  </div>

  <div class="span4">
    <h2><i class="icon-globe"></i> Merchants</h2>
    <p>Find businesses in your area that accept bitcoin as payment in exchange for goods and services.</p>
    <p><a class="btn" href="/merchants">Go &raquo;</a></p>
  </div>

  <div class="span4">
    <h2><i class="icon-user"></i> Partners</h2>
    <p>Check out the list of our partner companies that work on bitcoin-related products and services. </p>
    <p><a class="btn" href="/partners">Go &raquo;</a></p>
  </div>
</div>

