<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The Bitcoin Co-op</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}index{{/css}}
    <meta name="description" content="The Bitcoin Co-operative is a community of bitcoin enthusiast dedicated to helping merchants accept bitcoin for payment and supporting the bitcoin ecosystem in Canada" />
    <meta name="keywords" content="Bitcoin, Co-op, Co-operative, Vancouver, Canada, Point of Sale, Merchants, Exchangers" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="/">The Bitcoin Co-op</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/about">About Us</a></li>
              <li><a href="/merchants">Merchant Directory</a></li>
              <li><a href="/exchangers">Local Traders</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      {{>content}}
    </div>
  </body>
</html> 
