<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>The Bitcoin Co-op</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#js}}index{{/js}}
    {{#css}}index{{/css}}
    <meta name="description" content="The Bitcoin Co-operative is a community of bitcoin enthusiast dedicated to helping merchants accept bitcoin for payment and supporting the bitcoin ecosystem in Canada" />
    <meta name="keywords" content="Bitcoin, Co-op, Co-operative, Vancouver, Canada, Point of Sale, Merchants, Exchangers" />
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="/">The Bitcoin Co-op</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/about">Info</a></li>
                <li><a href="/merchants">Our Members</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      {{>content}}
    </div>
  </body>
</html> 
