<h1>Prepared Meals</h1>

<h2>How it Works</h2>

<p>Our resident chef Chelsea Greenwood is hard at work every week preparing delicious and healthy meals for our members.</p>

<h2>Schedule

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-6 col-md-4">
    <h2>Rabbit Cacciatore</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>
</div>

