<h1>Prepared Meals</h1>

<h2>How it Works</h2>

<p>Our resident chef Chelsea Greenwood is hard at work every week preparing delicious and healthy meals for our members.</p>

<p>Deliveries are on Tuesdays and Fridays between 9am and 12pm.  If you require delivery outside of these times, please contact us to arrange.</p>

<p>It is your responsibility to refrigerate prepared meals upon delivery or provide a cooler with ice packs in it at the delivery spot for your prepared meals to be deposited into.</p>

<label>Delivery Notes <small>(i.e. "please leave in cooler at my front door" or "please leave with my receptionist")</label>
  <textarea placeholder="please leave in cooler at my front door"></textarea>

<h2>Schedule</h2>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-6 col-md-4">
    <h2>Rabbit Cacciatore</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <h2>Kale Salad</h2>
  </div>
</div>

