<style>
label { width: 120px; }
#qr { cursor: pointer; }
</style>

<script src="/js/qrcode.js"></script>
<script src="/js/membership.js"></script>

<h1>Membership</h1>

<p>Membership is open to any person or organization who shares our values and wants to participate in our activities, subject to the approval of our democratically elected <a href="/directors">Board of Directors</a>. To become a member, fill out the following form and send payment to the address provided.  The fee is $20, payable in Bitcoin.</p>

<p>After signing up, you'll be given a member number and recorded in our <a href="/register">register</a>.  We'll invite you to attend our Annual General Meetings where you'll be able to vote on resolutions as well as nominate and elect directors. You can find more information about co-operatives by visiting the <a href="http://bcca.coop/">British Columbia Co-operative Association</a> and reading the <a href="http://www.bclaws.ca/civix/document/id/complete/statreg/99028_01">BC Co-operative Association Act</a>.  You can also read our <a href="/bylaws.pdf">Bylaws</a> and <a href="/memorandum.pdf">Memorandum of Agreement</a>.</p>

<div class="well">
  <h2>Registration Form</h2>

  <form id="register" action="/users" method="post">
    <input id="txid" name="txid" type="hidden" />
    <input id="date" name="date" type="hidden" />

    {{#error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/error}}

    <div class="form-group">
      <label for="name">Full Name:</label>
      <input type="text" id="name" name="name" class="form-control" required />
      <span>(Published in our <a tabindex="-1" href="/register">register</a>)</span>
    </div>

    <div class="form-group">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" class="form-control" required />
      <span>(Not published)</span>
    </div>

    <div class="form-group">
      <label for="address">Mailing Address:</label>
      <input type="text" id="address" name="address" class="form-control" required />
      <span>(Not published)</span>
    </div>

    <input class="btn btn-primary" type="submit" value="Become a Member" />
  </form>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Payment</h4>
      </div>

      <div class="modal-body">
        <div id="payment_request">
          <p class="lead">Please send <span id="amount"></span> BTC to:</p>
          <div style="text-align: center">
            <div id="qr" style="width: 50%; margin: auto;"></div>
            <h4 id="payment_address"></h4>
          </div>
        </div>
        <div class="alert alert-success" id="paid" style="display: none">
          <h3>Success! Welcome to the co-op!</h3>
        </div>
      </div>
    </div>
  </div>
</div>
