<h1>Membership</h1>

<p>Are you interested in joining our member-run co-operative?  Membership costs $20 and is open to anyone.  You don't need to be a member to participate in our events and outings but membership is a great way to show your support of our efforts.  
</p>

<p>
Membership fees and other funds raised through sponsorship and donation are placed into a multisignature Bitcoin address controlled by the directors of the co-op. Funds we collect through membership fees, sponsorship, and donation are allocated to projects and activities that benefit the co-op and Bitcoin in general, according to the discretion of our directors.  Allocations out of our multisignature address require digital signatures from a majority of the directorsof the co-op.  Directors are nominated and elected every year during our annual general meeting (AGM).
</p>

<p>To become a member, fill out the following form and send a payment to the address below.  You will be assigned a member number and recorded in our membership registry, giving you the ability to vote at our meetings and have a say in how we affairs.</p>
