<style>
label { width: 60px; }
</style>

<h1>Membership</h1>

<p>Co-op membership is open to any person or organization subject to the approval of our <a href="/directors">directors</a>. To become a member, fill out the following form and send payment of $20 CAD equivalent in Bitcoin to the address provided.
</p>

<p>Once approved, you will be given a member number and recorded in our membership registry, giving you the ability to nominate and elect directors at our annual general meetings and vote on resolutions. Please read our <a href="/bylaws.pdf">bylaws</a> and <a href="/memorandum.pdf">memorandum of agreement</a> to learn more about how we operate.</p>

<div class="well">
<form id="register" action="/users" method="post">
  {{#error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/error}}

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control" />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" class="form-control" />
  </div>

  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" class="form-control" />
  </div>

  <input class="btn btn-primary" type="submit" value="Become a Member" />
</form>
</div>
