<h1>Merchants</h1>

<p>
A growing number of businesses are accepting bitcoin for payment.  Why wouldn't they, when it's cheaper than other electronic payment methods and exposes them to an enthusiastic market of technologists and idealists who are eager to spend their bitcoins in the local economy?  We proudly support the following merchants by promoting them through our network, consulting with them on payment solutions, and hosting events and meetups at their venues.
</p>

<!-- 
<div  class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 550 }'>
  <div class="item">
    <a href="http://pacificblissmassage.com/"><img src="/img/pacific_bliss.gif" alt="Pacific Bliss" /></a>
    <p>
    Vancouver's most blissful massage and integrated healing center. We specialize in Swedish relaxation massage and Hot &amp; Cold Stone Therapy. Treatments can be scheduled at Infinity Salon &amp; Spa and in the summer months at Vancouver's most beautiful location - Wreck Beach!
    </p>
  </div>

  <div class="item">
    <h2><a href="http://www.sweettoothcafe.ca/">Sweet Tooth Cafe</a></h2>
    <a href="http://www.sweettoothcafe.ca/"><img src="/img/sweettooth.gif" alt="Sweet Tooth Cafe" /></a>
    <p>
    Everything from cinnamon buns made from grandma’s recipe, famous home style Pad Thai and homemade soup to Italian specialty coffee drinks, all made right in front of you
    </p>
  </div>

  <div class="item">
    <a href="http://nolimitlandscapes.com/"><img src="/img/nolimit.jpg" alt="No Limit Landscaping" /></a>
    <p>No Limit Landscaping is a new company formed in January of 2013. With over 20 years of experience in the industry, we will be focusing our expertise on the residential sector. We install full landscapes from start to finish. From designing to excavation to a completed landscape we will work with you through the entire process. Our water features set us apart from our competitors and are an excellent addition to any household.</p>
  </div>

  <div class="item">
    <a href="http://yourlocalmoversbc.com/"><img src="/img/yourlocalmovers.png" alt="Your Local Movers" /></a>
    <p>
    We can do anything from moves, deliveries, junk removal or even help moving something around the inside of your house!  No job is too big or small for us.

  Your Local Movers provides service to the entire Lower Mainland as well as the Sunshine Coast, Whistler, and Vancouver BC.
    </p>
  </div>

  <div class="item">
    <div style="width: 100%; height: 200px;">
    <a href="http://www.artofmuse.com/"><img src="/img/artofmuse.png" alt="Art of Muse" /></a>
    </div>
    <p>
    Music lessons for youth &amp; adults.  Learn how to play Piano or Keyboard from basic to intermediate levels. Whether you are interested in playing classical pieces or making pop, rock or electronic music, we will give you the skills and knowledge.
    </p>
  </div> 

  <div class="item">
    <div style="background: #4e4e4e; color: #fff; width: 100%; height: 200px; margin: 10px;">
      <a href="http://www.lulielens.com/"><img src="/img/lulie_lens.png" alt="Lulie Lens" /></a>
    </div>
    <p>Lulie Talmor is a High End Freelance Retoucher that specializes in polishing beauty and fashion images for commercial and editorial projects. However, her Photoshop capabilities extend far beyond just that, so when in doubt, be sure to ask. By harnessing the power of the internet she is able to take clients from all around the world from her base here in Vancouver, BC. She also currently offers 10% off for those paying with Bitcoin!</p>
  </div> 

  <div class="item">
    <h2><a href="http://www.rocketcases.com/">Rocketcases</a></h2>
    <a href="http://www.rocketcases.com/"><img src="/img/rocketcases.png" alt="Rocketcases" /></a>
    <p>You need to protect your iPhone from falls, scratches and its plain looking exterior. We've got the perfect cases for that. You want something unique and original that also gives you peace of mind if your prized possession were to accidently slip from your fingers.
    </p>
    <p>
    We want the same things. That is why we started Rocketcases. We wanted a case that was as cool as it was protective, so we set out to design the best. We'd never sell a case we wouldn't use ourselves.
    </p>
    <p>
    Jim, Skye &amp; Jon.<br />
    Rocketcases, Inc.
    </p>
  </div> 

  <div class="item">
    <a href="http://www.cabin12.ca/"><img src="/img/cabin12.jpg" alt="Cabin 12 Restaurant" /></a>
    <p>
    One of the best breakfast and lunch spots in Victoria! Now open for dinner.
    </p>

    <p>
    Big beautiful breakfasts, fantastic ribs, generous wings, some of the best burgers in town, and a range of vegetarian options.
    </p>

    <p>
    Super, friendly staff. Free wifi internet.
    </p>

    <p>
    Cash, debit, Visa or MasterCard, Canadian Tire Money and Bitcoins accepted.
    </p>
  </div>

  <div class="item">
    <h2>India Gate Restaurant and Bar</h2>
    <a href="http://indiagatefood.com/"><img src="/img/india_gate.jpg" alt="India Gate Restaurant" /></a>
    <p>For over 35 years, we have consistently served warm and yummy north Indian cuisine to locals and visitors from our location in downtown Vancouver. We cook fresh ingredients to create authentic flavors to match your palette in an atmosphere where you can feel at home and enjoy the service and hospitality of our family. See you soon!</p>
  </div>

  <div class="item">
    <a href="http://www.freegeekvancouver.org/"><img src="/img/free_geek.png" alt="Free Geek Vancouver" /></a>
    <p>We take all computer equipment, free of charge, working or not, in any condition.</p>

    <p>
  Your old computer equipment goes directly into our volunteer programs. Even while it's being evaluated, people are learning to identify computer parts. Reusable hardware furnishes computers for volunteers and non-profit organizations. If your equipment has to be recycled, we'll do it as locally and sustainably as possible, in strict accordance with the Basel Convention.</p>
  </div>

  <div class="item">
    <a href="http://bestie.ca/"><img src="/img/bestie.gif" alt="Bestie" /></a>
    <p>Bestie is a friendly little sausage and beer parlour in the heart of Vancouver’s Chinatown.</p>

    <p>
  Inspired by German street food, Bestie serves up a selection of finely crafted sausages, hand cut fries, tasty side salads, fresh baked pretzels, and Chinatown’s finest currywurst. We work with master butchers and urban farms, whole ingredients, and sustainably raised meats.
    </p>

    <p> 
    We’ve got three curated taps of local beer, some odd German bottles, both colours of wine, and a storied selection of schnapps.
    </p>
     
    <p>
    Bestie is open for snappy lunches, friendly dinners, late night eats and thirsty visits anytime. Just look for the neon sausage.
    </p>
  </div>

  <div class="item">
    <h2>Krystal Fit Studio</h2>
    <a href="https://www.facebook.com/KrystalFitStudio/info"><img src="/img/krystal_fit.jpg" alt="Krystal Fit Studio" /></a><br />
    <p>A boutique Power Plate personal training studio located in beautiful South Granville.</p>
  </div>

  <div class="item">
    <a href="http://www.centralbistro.com/" style="height: 56px; display: block; margin-bottom: 30px;"
      ><img style="background: rgb(54, 37, 12); padding: 10px; width: 480px; height: 56px;" src="/img/central_bistro.gif" alt="Central Bistro" />
    </a>

    <p>
    We say we're 'where the locals eat', but sometimes our summer visitors seem like locals too — they come back so often.
    </p>

    <p>
    We're close to that fabulous view of English Bay at the end of Denman and Davie Streets right in downtown Vancouver's West End district. We're on the corner of Denman and Comox Streets, so you can't miss us. And we have a great patio outside that you can enjoy during the warmer months — well, if you come early enough to claim a seat.
    </p>

    <p>
    If you're planning to visit Vancouver, British Columbia in the next little while or you've just moved into the West End and are looking for a restaurant 'home' then make sure you drop in and see us, our food is always fresh and scrumptious and we'll give you a warm welcome.
    </p>
  </div>

  <div class="item">
    <a href="http://www.popsikerecords.com/"><img src="/img/popsike.jpg" alt="Popsike Records" style="height: 80px" /></a><br />

    <p>
    Popsike Records is an online record store offering rare original pressings and cool underground sounds.  The site is updated sporadically throughout the year.  Update notifications are available via Twitter, Facebook or email.
    </p>
  </div>

  <div class="item">
    <a href="http://www.key3D.com/"><img src="/img/key3d.jpg" alt="Key3D" /></a><br />

    <p>
    Key3D specializes in providing prototyping and 3D printing services for product development. We provide a 10% discount for customers who choose to pay in BTC.
    </p>
  </div>

  <div class="item">
    <a href="http://saphirephotography.net/"><h2>Jérémie Bernardin Photography</h2></a>
    <p>The way you view the world shapes who you are. I like to see the world as a blank canvas, it welcomes creativity and desires to be explored. Life is what you make of it. I have the deepest desire to explore and create, a deep love for traveling and achieving seemingly unachievable things.</p>

    <p>Get 25% off portraits and business head shots when you pay with Bitcoin!</p>
  </div>

  <div class="item">
    <a href="http://www.sunshinecoast.ca/vital/sandwich-boards.htm"><img src="/img/vital_signs.jpg" alt="" /></a><br />

    <p>We print and install a variety of exterior and interior signs. Call us when you want to get noticed... (604) 740-0985</p>
    <p>Same day and next day delivery available</p>
  </div>

  <div class="item">
    <a href="http://www.robertscreekhealthfoodstore.com/"><img src="/img/roberts_creek_health_food_store.jpg" alt="" /></a><br />

    <p>
    The Roberts Creek Health Food Store is the location in the Heart of the Creek to find a wide assortment of organic foods, produce, supplements, body care products and giftware.
    </p>
  </div>

  <div class="item">
    <a href="http://www3.telus.net/plasticsmith/"><img src="/img/plasticsmith.jpg" alt="" /></a><br />

    <p>
    Plasticsmith Inc. specializes in creative acrylic design, plastic fabrication and personalized laser engraving and cutting.
    </p>

    <p>Typical applications include Point-of-Sale display units, industrial requirements and any other applications that require individual fabrication and design, providing customers with practical versatile and effective solutions.
    </p>
  </div>

  <div class="item">
    <a href="http://wavescoffee.com/"><img src="/img/waves.png" alt="" /></a><br />

    <p>
    The "Waves Coffee House" on the corner of Howe St. &amp; Smithe is our most spacious &amp; luxurious location yet. Be sure to drop in &amp; try one of our famous signature Panini &amp; Soup combinations or any of our tantalizing treats.
    </p>
   
    <p>Waves offers a wide variety of specialty coffees &amp; African Rooibos Teas as well as many other beverages. This beautiful spacious location offers 2 meeting rooms which are perfect for meetings or gatherings. Reservations required. Free wireless internet available.
    </p>
  </div>

  <div class="item">
    <a href="http://www.urbanspoon.com/r/14/1754296/restaurant/Fairview/Old-Ginger-Vancouver"><img src="/img/old_ginger.jpg" alt="" /></a><br />

    <p>
      Located on Broadway at Cambie Street, Old Ginger serves up spicy Szechuan cuisine including cumin lamb noodles and beef rolls.  They are famous for their robot noodle cutter!
    </p>
  </div>

  <div class="item">
    <a href="http://www.growmonsterplants.com/"><img src="/img/gmp.png" alt="" /></a><br />

    <p>Superior products for explosive plant growth!</p>
  </div>

  <div class="item">
    <a href="http://www.leahthemusic.com/"><img src="/img/leah.jpg" alt="" /></a><br />

    <p>Symphonic metal music infused with fantasy and folklore</p>
  </div>

  <div class="item">
    <h2>Starlit Citadel</h2>
    <a href="http://www.starlitcitadel.com/"><img src="/img/starlit_citadel.png" alt="" /></a><br />

    <p>At Starlit Citadel we have over 2,000 board games, card games, miniatures and accessories to buy at discounted prices. We ship both locally and internationally using Canada Post and have many happy customers across the world, including the UK, US and Brazil. There are numerous detailed and insightful game articles and reviews to read on the website as well as our video reviews, so do take your time browsing the site. We are passionate about the games we sell, and if you do not see a board game that you want listed or have questions, just contact us and we will be happy to help.</p>
  </div>

  <div class="item">
    <h2>Stone Chi Massage</h2>
    <a href="http://www.stonechimassage.com/"><img src="/img/stone_chi_massage.jpg" alt="" /></a><br />

    <p>With more than 26 years of experience in the healing arts, Dena Jackson is one of Vancouver’s top deep tissue, stone therapy, and Shiatsu practitioners.
    </p>

    <p>
    Dena is the originator of Stone Chi Massage, and was the first one to bring La Stone Therapy to Canada in June, 1999. After two years of practice, creator and originator of La Stone Therapy (<a href="http://www.lastonetherapy.com/">www.lastonetherapy.com</a>) Dena became Canada’s first instructor of La Stone Therapy in 2001.
    </p>

    <p>
    Dena is a registered Shiatsu Practitioner, Master La Stone Therapist, and deep tissue massage practitioner. Dena is also a certified Vinyasa Yoga instructor.
    </p>

    <p>
    Along with her caring and intuitive hands, Dena is passionate to bring greater health and wellness to each client. In each session, she draws from her many years of experience and extensive skill to leave every client feeling renewed and empowered.
    </p>
  </div>

  <div class="item">
    <h2>Starzology</h2>
    <a href="http://www.starzology.com/"><img src="/img/starzology.png" alt="" /></a><br />

    <p>Starzology is a niche astrology site with a clear focus.</p>

    <p>
    It will appeal to a select segment of readers in the astrological community and those people who strive for creative astrological knowledge.
    </p>

    <p>This site showcases the specific astrological philosophies, research and humour of Alison Price  who is a professional astrologer, teacher, mentor, coach, speaker, writer, editor and promoter based in Vancouver, BC, Canada.</p>
  </div>

  <div class="item">
    <h2>Artist Run Collective</h2>
    <a href="http://artistruncollective.org/"><img src="/img/artistrun.jpg" alt="" /></a><br />

    <p>
    Artistrun Collective promotes art as a means of social change, and shares posts on Facebook that benefit the larger art community in Vancouver. Our collective of diverse Vancouver artists participate in Culture Days and other art events. Here are highlights of our group art events:
    </p>
  </div>

  <div class="item">
    <h2>The Cobalt</h2>
    <a href="http://www.thecobalt.ca/"><img src="/img/cobalt.jpg" alt="" /></a><br />

    <p>The Cobalt is a dark nostalgic, funky underground venue -think brick, dark wood beams, chandeliers, candles- hosting a wide variety of events from live music, pinball tournaments to art showings and dance parties with drag queens and sometimes kings. Now sprinkle on the amazing staff and laissez-faire approach and you’ve got the Cobalt.</p>
  </div>

  <div class="item">
    <h2>Cascadia North Permaculture</h2>
    <a href="http://cascadianorth.com/"><img src="/img/cascadianorth.png" alt="" /></a><br />

    <p>Starzology is a niche astrology site with a clear focus.</p>

    <p>
It will appeal to a select segment of readers in the astrological community and those people who strive for creative astrological knowledge.
</p>

<p>This site showcases the specific astrological philosophies, research and humour of Alison Price  who is a professional astrologer, teacher, mentor, coach, speaker, writer, editor and promoter based in Vancouver, BC, Canada.</p>
  </div>

  <div class="item">
    <a href="http://francescos.com/"><img src="/img/francescos.jpg" alt="" /></a><br />

    <p>
    Experience the tantalizing indulgence of our menu, a veritable palette of timeless regional flavours and quality dishes.
    </p>
    <p>
    Let the finest and freshest ingredients, prepared with authentic distinction, speak for themselves on this culinary tour of Italy.
    </p>
    <ul>
      <li>Signature dishes drawing inspiration from treasured Sicilian family recipes. </li>
      <li>Delectable house-made desserts to tempt your tastebuds. </li>
      <li>Private wine room for up to 12 guests. </li>
      <li>Renowned hospitality and wonderful ambiance. </li>
      <li>Charming courtyard patio for intimate outdoor dining. </li>
      <li>Artfully crafted by chefs with honed skills from influences worldwide. </li>
      <li>Extensive list of fine wines to compliment every dish.</li>
    </ul>
    <p>
    An award winning restaurant with 50 years of fine Italian dining in the heart of Vancouver's downtown core.
    </p>
  </div>

  <div class="item">
    <h2>V.I.P. Luxury Tour</h2>
    <img src="/img/vip_luxury.jpg" alt="" /><br />

    <p>
    Fantasea is a 2008 70 foot tri-deck motor yacth moored in Vancouver, British Columbia.  She is a vessel of unparalleled luxury and design.
    </p>

    <p>
    Once on board you will be treated to a tour of the famous Vancouver skyline.
    </p>

    <p>Option 1: Travel to Deep Cove, Bedwell Harbour, Belcarra Park, and visit one of the most beautiful spots in all of British Columbia, Indian Arm.
    </p>

    <p>
    Option 2: Lighthouse Park, Bowen Island, and Horseshoe Bay along the exlusive West Vancouver waterfront.
    </p>

    <p>For more information on the V.I.P. Luxury Tour please call Blue Pacific Charters: 604-682-2161</p>
  </div>

  <div class="item">
    <h2>Escapes.ca</h2>
    <a href="http://www.escapes.ca/"><img src="/img/escapes.png" alt="" /></a><br />

    <p>
    At Escapes.ca, we are dedicated to providing you with the best value for your travel dollars while also providing you with top quality service through our knowledgeable vacation specialists. We not only provide an easy to use vacation website as well as the lowest vacation prices guaranteed, we also pride ourselves on our friendly travel experts who can assess your needs on a customer to customer basis. No call centre here!
    </p>
  </div>

  <div class="item">
    <h2>Vancouver Centre for Cosmetic and Implant Dentistry</h2>
    <a href="http://www.mysmilemakeover.com/"><img src="/img/mysmile.png" alt="" /></a><br />

    <p>
    Dr. Lowe and his team of talented Cosmetic Dentists can transform anyone’s smile into the bright beautiful smile they have always dreamed of. That’s why they call him the Smile Dentist! The Smile Dentist At The Vancouver Centre For Cosmetic And Implant Dentistry
    </p>
    <p>
    Cosmetic Dentistry is about choices! Yet choosing the right cosmetic dental treatment plan for you requires experience and passion.
    </p>

    <p>
    Giving you a great smile has been our passion for three decades!
    </p>
  </div>

  <div class="item">
    <h2>Caf&eacute; for Contemporary Art</h2>
    <a href="http://cafeforcontemporaryart.com/"><img src="/img/cafca.jpg" alt="" /></a><br />
    <p>
  Dedicated to culinary excellence (and inclusion) the café for contemporary art strives to provide the community with the best products possible.  With this in mind we have been proud to serve coffee from 49th Parallel Coffee Roasters since opening in 2009.   In 2012, with the hiring of chef Matt Formagin we became the proud home of Everyday Tacos for Total Consciousness.  We’re also your friendly neighbourhood provider of Erin Ireland’s It’s To Die For Banana Bread, various fresh baked, gluten-free muffins and cookies from Two Daughter’s Bake Shop, a selection of quality teas and so much more :)
  </p>
  </div>


  <div class="item">
    <a href="https://www.facebook.com/AntiagingCollagenBaby"><h2>Collagen Babe</h2></a><br />

    <p>Shiatsu Therapist, Mobile Massage</p>
  </div>

  <div class="item">
    <h2>Gamedeals Video Games</h2>
    <a href="http://www.gamedeals.ca/"><img src="/img/gamedeals.png" alt="" /></a><br />

    <p>
    Gamedeals Video Games began in 2006 and has become the leading retro game store in the Vancouver Area. We are proud to offer fair prices, good trade-in value, and a healthy selection of games/collectibles, while also supporting the local community via sponsorship, local events, and hosting the yearly Vancouver Retro Gaming Expo.
    </p>
  </div>
</div>

<form action="/contact" class="well" id="getlisted" method="post">
  <h2>Get Listed</h2>
    <p>Fill out the form below to provide us with your business information.  We manually review and approve all listing requests.</p>

    <div>
      <label for="name"><strong>Business Name</strong></label>
      <input type="text" id="name" name="name" />
    </div>

    <div>
      <label for="image"><strong>Image URL</strong></label>
      <input type="text" id="image" name="image" />
    </div>

    <div>
      <label for="website"><strong>Website</strong></label>
      <input type="text" id="website" name="website" />
    </div>

    <label for="notes"><strong>Description</strong></label>
    <textarea id="notes" name="notes" style="width: 400px; height: 100px;"></textarea>

    <br />
    <input type="submit" value="Submit" />
</form>
-->
<iframe src="http://www.coinmap.org/" height="500" width="100%" seamless marginheight="0" marginwidth="0"></iframe>
