@import "bootstrap.min.css";
@import "font-awesome.css";
.hero-unit {
  margin-top: 10px;
  background: url(/img/vancouver.jpg);
  background-size: 100% 100%;
}
.hero-unit p {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.navbar-inverse,
.navbar-inverse .navbar-link,
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #eee;
}
footer {
  background: black;
  color: #ddd;
  padding: 10px 0px 2px 5px;
  margin: 0;
  text-align: right;
}
#ask,
#bid {
  color: #999;
}
div.item {
  width: 500px;
  border: 1px dashed #ccc;
  padding: 10px;
  margin: 10px;
  clear: both;
}
div.item img {
  height: 180px;
  padding: 10px;
}
div.item p {
  padding: 0 10px 10px 10px;
}
div.item h2 a {
  text-decoration: none;
  color: #000;
}
div.row-fluid td.first {
  text-align: right;
}
.heading .pull-right {
  margin-top: 10px;
}
html,
body {
  height: 100%;
}
a {
  color: #1889A6;
}
#main {
  overflow: auto;
  padding-bottom: 40px;
  /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -20px;
  /* negative value of footer height */
  height: 40px;
  clear: both;
  padding: 20px;
}
#mapcontainer {
  overflow: hidden;
  width: 1000px;
}
#merchlist {
  width: 350px;
  float: left;
  overflow: hidden;
}
#merchlist ul {
  list-style-type: none;
  padding: 0px !important;
  margin: 0px;
}
#merchlist li {
  padding: 0px;
  font-weight: bold;
  border-bottom: 1px dashed #CCCCCC;
  margin-right: 40px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
#merchlist li:hover {
  background: #EEEEEE;
  cursor: pointer;
  cursor: hand;
}
.merchinfo {
  overflow: hidden;
  text-decoration: none;
}
.merchaddress {
  font-size: 0.7em;
  color: #999999;
}
.logoimg {
  width: 60px;
  margin-right: 10px;
  float: left;
}
#map_canvas {
  width: 600px;
  height: 600px;
  overflow: hidden;
}
label {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}
p {
  text-align: justify;
}
.btn-primary {
  background-color: #1B677B !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1889A6), to(#1B677B));
  background-image: -moz-linear-gradient(top, #1889A6, #1B677B);
  background-image: -ms-linear-gradient(top, #1889A6, #1B677B);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1889A6), color-stop(100%, #1B677B));
  background-image: -webkit-linear-gradient(top, #1889A6, #1B677B);
  background-image: -o-linear-gradient(top, #1889A6, #1B677B);
  background-image: linear-gradient(#1889A6, #1B677B);
  border-color: #1889A6 #1889A6 #1B677B;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
#partners h2 {
  clear: both;
}
#partners img {
  float: right;
  max-height: 200px;
  margin-left: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
