<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>The Bitcoin Co-op</h1>
        <p>We help local businesses accept bitcoins by providing them with payment software and paying cash for their bitcoins.  We also buy and sell bitcoins to the public in an effort to make it easy for anyone to get started or cash out.</p>
        <a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <h2><i class="icon-question-sign"></i> Info</h2>
          <p>New to bitcoins?  We'll explain why you might want to use them and point you to some useful resources.</p>
          <p><a class="btn" href="/about">Go &raquo;</a></p>
        </div>

        <div class="span4">
          <h2><i class="icon-globe"></i> Merchants</h2>
          <p>Do you want to accept bitcoin payments?  We are a proud local integration partner for bitpay.com and can set you up to accept bitcoins in your store or on your website</p>
          <p><a class="btn" href="/merchants">Go &raquo;</a></p>
        </div>

        <div class="span4">
          <h2><i class="icon-user"></i> Exchangers</h2>
          <p>Looking to buy or sell bitcoins?  Our trusted exchangers will give you a fair price and can recommend best practices for keeping your bitcoins safe and secure</p>
          <p><a class="btn" href="/exchangers">Go &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
